h1{
    
    background-color: yellow; 
    text-align: center;
    text-decoration: underline;
    column-count: 3; 
    border: 4px solid green;
    padding: 50px;
}

p{
    font-size: 30px; 
    text-align: left; 
   

}

p.error{
    color: crimson;
    text-transform: uppercase;
    
}

.success{
    color: green;
}

p.success.feedback{
    border: 2px dashed green;
} 

a[href$=".com"]{
   
    border:2px solid orange;
    color: purple;
    text-decoration: none; 
    font-weight: bold; 
    margin: 10px;
    
    text-align: right;
}